---
layout: frame
---
<ol class="episode-list live">
{% for episode in collections.episode %}
  {% if episode.data.isLive %}
    <li>
      <h2>{{ episode.data.title }}</h2>
      <div class="episode-date">{{ episode.date.toLocaleDateString('en-US', {
        dateStyle: 'full',
        month: 'long',
        day: 'numeric',
        year: 'numeric'
      }) }}</div>
      <div class="episode-notes">{{ episode.templateContent | safe }}</div>
      {% if episode.data.isLive %}
        <audio src="{{ site.filesPath + '/' + episode.data.enclosure.name }}" controls></audio>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ol>

<div>Coming up</div>

<ol class="episode-list">
{% for episode in collections.episode %}
  {% if not episode.data.isLive %}
  <li>
    <h2>{{ episode.data.title }}</h2>
  </li>
  {% endif %}
{% endfor %}
</ol>