---
layout: default
---
<ol>
{%- for episode in collections.episode -%}
  {% if episode.data.isLive %}
    <li><a href="{{ episode.url }}">{{ episode.data.title }}</a></li>
  {% else %}
    <li><span>{{ episode.data.title }} - {{episode.date}}</span></li>
  {% endif %}
{%- endfor -%}
</ol>

<a href="/feed.xml">Podcast feed</a>