body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 22.5px;
  color: #333333;

  text-align: center;
}

.episode-list {
  list-style: none;
  padding: 0;
  padding-bottom: 2rem;
}

.episode-list.live li {
  margin-bottom: 2rem;
}

.episode-list h2 {
  font-size: inherit;
}