---
layout: default
---
<article>
    <h1>{{ title }}</h1>
    <p><time datetime="{{ page.date.toISOString() }}">{{ page.date.toString() }}</time></p>
    <audio src="{{ site.filesPath + '/' + enclosure.name }}" controls></audio>
    {{ content | safe }}
</article>